# Python Stuff
*.pyc
*~
__pycache__
.virenv*/

# Editors
.vscode/

# Generic Stuff
trash/

# Dependency Manager Stuff
dependecymanager/dmtree.json
dependecymanager/requirements.txt
dependecymanager/dev_requirements.txt

# pypi
*.egg-info
dist/
build/
