# Python Stuff
*.pyc
*~
__pycache__
.virenv*/

# Editors
.vscode/

# Generic Stuff
trash/

# Dependency Manager Stuff
dependecy_manager/*dmtree.json
dependecy_manager/*requirements.txt
dependecy_manager/*dev_requirements.txt

# pypi
*.egg-info
dist/
build/
